<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= username %>, aktywacja konta</title>
        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
                min-width: 100% !important;
            }
        </style>
    </head>
    <body>
        <!-- TODO-->
        <h1>Witaj, <%= username %>! Dziękujemy za zarejestrowanie w textige!</h1>

        <a href="<%= link %>">
            Zweryfikuj swoje konto teraz
        </a>
    </body>
</html>